name: Publish NuGet Package

on:
  release:
    types:
      - published

env:
  NuGetDirectory: ${{ github.workspace }}/nuget

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup-env

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Pack
        run: dotnet pack ./src/Ling.AutoInject/Ling.AutoInject.csproj --configuration Release --no-build --output ${{ env.NuGetDirectory }}

      - name: Publish to NuGet
        run: |
          for file in ${{ env.NuGetDirectory }}/*.{nupkg,snupkg}; do
            if [ -f "$file" ]; then
              dotnet nuget push "$file" --api-key "${{ secrets.NUGET_APIKEY }}" --source https://api.nuget.org/v3/index.json --skip-duplicate
            fi
          done